body {
    background-color: #ddd;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6rem;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
}

#main-header {
    background-color: lavenderblush;
    padding: 1% 1% 0% 0%;
    width: 100%;

}

#main-header h1 {
    padding-left: 10%;
    margin-bottom: 40px;
}

#navbar {
    background-color: lavender;
    padding: 1% 1% 1% 0%;
    width: 90%;
    padding-left: 10%;

}

#navbar ul {
    padding: 0;
    list-style: none;
    position: sticky;
    overflow: hidden;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: #000;
    text-decoration: none;
    font-size: 1.1rem;
    padding-right: 2%;
}

#navbar a:hover {
    color: hotpink;
}

#main {
    width: 50%;
    float: left;
    box-sizing: border-box;
    background-color: #ddd;
}

#sidebar {
    width: 50%;
    float: right;
}

#about-me-img {
    margin-left: 96px;
    width: 400px;
    border-radius: 2%;
}


#main-footer {
    background-color: lavender;
    text-align: center;
    padding: 1% 1%;
    width: 100%;
}

.clear-fix::after {
    clear: both;
    content: "";
    display: block;
}

.gallery-container {
    display: flex;
}

.gallery-container div {
    border: 1px solid blue;
    flex: 1;
}